.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.jc {
    justify-content: center;
}

.js {
    justify-content: flex-start;
}

.je {
    justify-content: flex-end;
}

.jb {
    justify-content: space-between;
}

.ja {
    justify-content: space-around;
}

.jev {
    justify-content: space-evenly;
}

.ac {
    align-items: center;
}

.as {
    align-items: flex-start;
}

.ae {
    align-items: flex-end;
}

.ab {
    align-items: baseline;
}