{% extends 'base.html' %}


{% block body %}
<div class="auth-container column jc ac">
  <h1 class="title slideUp">Bem vindo ao Commit Tracker!</h1>
  <h2 class="subtitle slideUp">Faça login clicando no botão abaixo!</h2>
  <a class="btn row ac jc slideUp"
    href="https://github.com/login/oauth/authorize?client_id={{client_id}}&scope=user%2C+repo">
    <img width="280px" height="60px" class="github-logo"
      src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="Github!">
    Entrar com o Github
  </a>
</div>
{% endblock %}