.card-container {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 620px;
    font-family: Helvetica;
    padding: 20px;
    cursor: pointer;
    transition: transform 300ms ease;

    &:hover {
        transform: translateX(10px);
    }

    >.icon {
        transition: 600ms ease;
        transform: translateX(-10px);
        position: absolute;
        right: -40px;
        top: 45%;
        opacity: 0;
    }

    &:hover>.icon {
        opacity: 1;
        transform: translateX(0px);
    }

    >.header,
    >.footer {
        display: flex;
        flex-direction: row;
    }

    >.header>.title {
        font-size: 16px;
        font-weight: 900;
    }

    >.header>.sha {
        font-size: 12px;
        color: black;
    }

    >.content>.message {
        font-size: 16px;
        border-left: 2px solid black;
    }

    >.footer {
        font-size: 12px;
    }

    @media screen and (max-width: 640px) {
        width: 300px;

        >.header>.sha {
            display: none;
        }

        >.content {
            overflow: hidden;
        }
    }
}