$pagination-btn-padding: 7px 12px;
$pagination-btn-border-radius: 4px;
$pagination-font-weight: 600;

.pagination-container {
    width: 620px;
    margin-top: 20px;
    font-family: Helvetica;
    font-size: 13px;
 
    >.items>.item {
        color: $primary-color;
        background-color: #ffffff;
        padding: $pagination-btn-padding;
        border: 1px solid #e1e4e8;
        font-weight: $pagination-font-weight;

        &.-selected {
            background-color: $primary-color;
            border-color: $primary-color;
            color: #ffffff;
        }
    }

    >.total {
        margin: 0;
        padding: $pagination-btn-padding;
        color: $primary-color;
        border-radius: $pagination-btn-border-radius;
        background-color: #ffffff;
        font-weight: $pagination-font-weight;
    }

    > .options {
        padding: $pagination-btn-padding;
        color: $primary-color;
        border-radius: $pagination-btn-border-radius;
        background-color: #ffffff;
        font-weight: $pagination-font-weight;
    }
}